body {
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: 100% 100%;
}

.header {
  width: 100%;
  height: 10%;
  background-color: black;
  color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pic2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.notice {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
}

.continue {
  width: 5%;
  padding: 0.5rem;
  margin-left: 20%;
  border-radius: 30px;
  background-color: burlywood;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.rick {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}
