body {
  margin: 0px;

  background-image: url(/public/image/eye.jpg);
  background-color: black;
}

#videoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

video {
  /* width: 100%; */
  height: 100%;
}

.av {
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.avContainer {
  display: flex;
  justify-content: center;
}
