.createRoom {
  border: 2px solid rgb(211, 214, 25);
  padding: 5px 10px;
  height: fit-content;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.tagContainer {
  display: flex;
}

.navBar {
  display: flex;
  background-color: rgb(54, 54, 173);
  color: white;
  border: 0.25rem solid white;
  outline: 0.5rem solid rgb(1, 1, 133);
  justify-content: center;
}

.roomPassword {
  display: flex;
}
body {
  margin: 0px;
  background-color: rgb(54, 54, 173);
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(54, 54, 173);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tagContainer {
  display: flex;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#updateDetails {
  width: 20%;
  height: 10%;
  margin-bottom: 5%;
  border-radius: 30px;
  background-color: rgba(240, 14, 14, 0.795);
  font-size: 1.5rem;
  font-weight: bold;
}

#leaveRoom {
  width: 100%;
  height: 40%;
  border-radius: 30px;
  background-color: rgba(14, 112, 240, 0.795);
  color: aquamarine;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  background-color: rgb(54, 54, 173);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-wrap: wrap;
}

.btnDiv {
  display: flex;
  align-items: center;
}

#leaveRoom:hover {
  box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
}

#confirmBtn {
  width: 100%;
  outline: 0.3rem solid rgba(255, 0, 0, 0.712);
  background-color: rgb(54, 54, 173);
  color: bisque;
  margin-bottom: 7%;
  border-radius: 30px;
  border: 0ch;
  cursor: pointer;
}

#confirmBtn:hover {
  box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
}

.room {
  outline: 0.65rem solid purple;
  border: 2px solid rgb(216, 27, 27);
  margin: 1.5rem;
  padding: 5px 10px;
  height: 32%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.playerOne {
  font-size: 1.25rem;
  color: yellow;
  margin-left: 0.25rem;
}

.playerTwo {
  font-size: 1.25rem;
  color: yellow;
  margin-left: 0.25rem;
}

.joinRoomBtn {
  width: 30%;
  outline: 0.3rem solid rgba(255, 0, 0, 0.712);
  background-color: rgb(54, 54, 173);
  color: bisque;
  margin: 3%;
  border-radius: 30px;
  border: 0ch;
  cursor: pointer;
}

.room:hover {
  box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
}

.joinRoomBtn:hover {
  box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 14px 8px 17px 4px rgba(0, 0, 0, 0.65);
}
